@media (max-width: 500px) {
  body>header>#divpapa{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body>header>#divpapa>div.hijo>a{
    height: 70px;
    width: 100px;
}
body>header>#divpapa>div.hijo>a>img{
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header>div#divpapa>div.oculto{
display: none;
}
}/*Pantalla de telefono*/


/*.clases
  #id*/